.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 4rem;
}

.task-div {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}
