.healthbox {
    background-color: #F8EAC7;
    width: 62vw;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #D2C6A9;
}

.namelabel {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    width: 59vw;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}

.hpbox {
    height: 2.5vh;
    width: 60vw;
    padding: none;
    background-color: #C5E5CD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 0.3rem;
}

.hpbox::before {
    color: #333;
    content: "HP";
    font-size: 10px;
    font-weight: 800;
    margin-right: 0.18rem;
}